#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

a, a:visited, a:hover, a:active {
    color: blue;
    margin: 10px;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

th, td {
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    border: 1px solid #ddd;
}
