body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

select, button {
    margin: 20px;
    font-size: 30px;
    text-align: center;
}
