{% extends "base.html" %}

{% block body %}
    <div>
        <p>Year 2000's Doomsday is Tuesday</p>
        <p>If Leap Year, +1 day.</p>
        <table>
            <tr>
                <th>Month</th>
                <th>Doomsday</th>
                <th>Leap Year</th>
            </tr>
            {% for key,doomsday in doomsdays.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ doomsday[0] }}</td>
                    {% if doomsday != "None" %}
                        <td>{{ doomsday[1] }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
